main {
  padding: 60px 0px;
  margin: auto;
}

.column {
  float: left;
  width: 45vw;
  box-sizing: border-box;
  margin-right: 10px;
}

.notes label {
  font-size: 2em;
}

.notes textarea {
  width: 100%;
  height: 60vh;
  padding: 10px;
  font: 3em Arial;
}

