.digital-clock {
  margin-top: 10px;
}

.digital-clock table {
  text-align: center;
  font-size: 4em;
  margin: auto;
  border-collapse: collapse;
  vertical-align: top;
}

.digital-clock button {
  width: 100%;
  vertical-align: top;
  border: none;
  background-color: transparent;
  margin: 3px;
}

.digital-clock .display {
  background-color: gold;
}

.digital-clock button:hover {
  outline: 1px solid black;
}
